In [1]:
import pandas as pd

df=pd.read_csv('DAST-10_dataset - 1.csv')
df.head()

,Participant ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Score,Level
0,f7e59788-16b8-4733-8414-d818f94ab765,No,No,No,No,No,Yes,No,No,No,Yes,3,Moderate level
1,31cc8f07-af5f-45ec-bec7-3877d81c2b6a,No,Yes,No,Yes,Yes,No,Yes,No,No,Yes,6,Substantial level
2,104649e7-dc22-41d4-85a9-82203576ee33,No,No,Yes,No,Yes,Yes,Yes,Yes,No,No,4,Moderate level
3,4d9348d5-09c6-4730-b4c5-0a463efa061e,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,No,7,Substantial level
4,dd1b4625-46ce-4e2c-92da-0be58832f802,No,Yes,No,Yes,Yes,Yes,No,Yes,Yes,Yes,8,Substantial level

In [2]:
df.drop('Participant ID', axis=1, inplace=True)

In [3]:
df.drop('Score', axis=1, inplace=True)

In [4]:
df.head()

    Q1   Q2   Q3   Q4   Q5   Q6   Q7   Q8   Q9  Q10              Level
0   No   No   No   No   No  Yes   No   No   No  Yes     Moderate level
1   No  Yes   No  Yes  Yes   No  Yes   No   No  Yes  Substantial level
2   No   No  Yes   No  Yes  Yes  Yes  Yes   No   No     Moderate level
3  Yes  Yes  Yes  Yes   No  Yes  Yes  Yes  Yes   No  Substantial level
4   No  Yes   No  Yes  Yes  Yes   No  Yes  Yes  Yes  Substantial level

In [5]:
df.isna().sum()

Q1       0
Q2       0
Q3       0
Q4       0
Q5       0
Q6       0
Q7       0
Q8       0
Q9       0
Q10      0
Level    0
dtype: int64

In [6]:
df.info

<bound method DataFrame.info of        Q1   Q2   Q3   Q4   Q5   Q6   Q7   Q8   Q9  Q10              Level
0      No   No   No   No   No  Yes   No   No   No  Yes     Moderate level
1      No  Yes   No  Yes  Yes   No  Yes   No   No  Yes  Substantial level
2      No   No  Yes   No  Yes  Yes  Yes  Yes   No   No     Moderate level
3     Yes  Yes  Yes  Yes   No  Yes  Yes  Yes  Yes   No  Substantial level
4      No  Yes   No  Yes  Yes  Yes   No  Yes  Yes  Yes  Substantial level
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...                ...
4995   No  Yes  Yes   No  Yes  Yes   No   No   No  Yes     Moderate level
4996   No  Yes  Yes  Yes  Yes   No  Yes   No   No   No     Moderate level
4997  Yes   No   No  Yes  Yes  Yes   No   No  Yes   No  Substantial level
4998  Yes  Yes  Yes   No  Yes  Yes   No  Yes   No  Yes  Substantial level
4999  Yes   No   No  Yes   No  Yes   No  Yes   No  Yes  Substantial level

[5000 rows x 11 columns]>

In [7]:
# Forward fill
#df.fillna(method='ffill', inplace=True)

In [8]:
df.isna().sum()

Q1       0
Q2       0
Q3       0
Q4       0
Q5       0
Q6       0
Q7       0
Q8       0
Q9       0
Q10      0
Level    0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Q1']=le.fit_transform(df['Q1'])
df['Q2']=le.fit_transform(df['Q2'])
df['Q3']=le.fit_transform(df['Q3'])
df['Q4']=le.fit_transform(df['Q4'])
df['Q5']=le.fit_transform(df['Q5'])
df['Q6']=le.fit_transform(df['Q6'])
df['Q7']=le.fit_transform(df['Q7'])
df['Q8']=le.fit_transform(df['Q8'])
df['Q9']=le.fit_transform(df['Q9'])
df['Q10']=le.fit_transform(df['Q10'])

In [10]:
db=df.copy()

In [11]:
db.head()

   Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  Q9  Q10              Level
0   0   0   0   0   0   1   0   0   0    1     Moderate level
1   0   1   0   1   1   0   1   0   0    1  Substantial level
2   0   0   1   0   1   1   1   1   0    0     Moderate level
3   1   1   1   1   0   1   1   1   1    0  Substantial level
4   0   1   0   1   1   1   0   1   1    1  Substantial level

In [12]:
df['Level']=le.fit_transform(df['Level'])
df.head()

   Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  Q9  Q10  Level
0   0   0   0   0   0   1   0   0   0    1      1
1   0   1   0   1   1   0   1   0   0    1      4
2   0   0   1   0   1   1   1   1   0    0      1
3   1   1   1   1   0   1   1   1   1    0      4
4   0   1   0   1   1   1   0   1   1    1      4

In [13]:
from sklearn.model_selection import train_test_split
x=db[['Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9','Q10']]
y=db['Level']
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,shuffle=True)

In [14]:
from sklearn.svm import SVC
#Build the model
svm = SVC(kernel="rbf", gamma=0.5, C=1.0)
# Trained the model
svm.fit(x, y)

SVC(gamma=0.5)

In [15]:
ypred=svm.predict(xtest)
from sklearn.metrics import accuracy_score
accuracy_score(ytest,ypred)

0.998

In [16]:
from sklearn.metrics import precision_score


precision = precision_score(ytest, ypred, average='weighted')

print(f"Precision: {precision:.4f}")

Precision: 0.9961

C:\Users\Navyashri\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [17]:
from sklearn.metrics import recall_score, f1_score

recall = recall_score(ytest, ypred, average='weighted')

f1 = f1_score(ytest, ypred, average='weighted')

print(f"Recall: {recall:.4f}")
print(f"F1-Score: {f1:.4f}")

Recall: 0.9980
F1-Score: 0.9970

In [18]:
#validating using k fold validation

from sklearn.model_selection import cross_val_score, KFold

# number of folds (k)
num_folds = 5 

# Define the cross-validation method (e.g., KFold)
kfold = KFold(n_splits=num_folds, shuffle=True, random_state=42)

# Perform cross-validation
scores = cross_val_score(svm, x, y, cv=kfold, scoring='accuracy')  # Use appropriate scoring metric

# Print the accuracy scores for each fold
for fold, score in enumerate(scores, 1):
    print(f"Fold {fold}: Accuracy - {score:.4f}")

# Calculate and print the mean and standard deviation of the scores
mean_accuracy = scores.mean()
std_accuracy = scores.std()
print(f"\nMean Accuracy: {mean_accuracy:.4f}")
print(f"Standard Deviation of Accuracy: {std_accuracy:.4f}")

Fold 1: Accuracy - 1.0000
Fold 2: Accuracy - 1.0000
Fold 3: Accuracy - 1.0000
Fold 4: Accuracy - 0.9970
Fold 5: Accuracy - 1.0000

Mean Accuracy: 0.9994
Standard Deviation of Accuracy: 0.0012

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC  # or any other classifier you are using

# Assuming you have your features (X) and labels (y)

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Train your model on the training set
svm = SVC(kernel='rbf')  # Initialize your classifier
svm.fit(X_train, y_train)  # Train the model

# Predictions on training and test sets
train_predictions = svm.predict(X_train)
test_predictions = svm.predict(X_test)

# Calculate confusion matrices
train_conf_matrix = confusion_matrix(y_train, train_predictions)
test_conf_matrix = confusion_matrix(y_test, test_predictions)

print("Confusion Matrix - Training Set:")
print(train_conf_matrix)
print("\nConfusion Matrix - Test Set:")
print(test_conf_matrix)

Confusion Matrix - Training Set:
[[ 203    0    0    0    0]
 [   0 2242    0    0    0]
 [   3    0    0    0    0]
 [   0    0    0   39    0]
 [   0    0    0    0 1513]]

Confusion Matrix - Test Set:
[[ 52   0   0   0]
 [  0 553   0   0]
 [  0   0   8   0]
 [  0   0   0 387]]

In [20]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.metrics import make_scorer, accuracy_score

#  SVM model
svm = SVC()

# hyperparameters and their values for tuning
param_grid = {
    'C': [0.1, 1, 10, 100],  
    'gamma': [0.1, 1, 10]    
}

# scoring metric
scorer = make_scorer(accuracy_score)

# GridSearchCV
grid_search = GridSearchCV(estimator=svm, param_grid=param_grid, scoring=scorer, cv=3)
grid_result = grid_search.fit(X_train, y_train)


best_params = grid_result.best_params_
best_score = grid_result.best_score_

print("Best Parameters:", best_params)
print("Best Accuracy:", best_score)

Best Parameters: {'C': 100, 'gamma': 0.1}
Best Accuracy: 0.9997501249375312

In [21]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# Using best parameters
new_svm = SVC(C=100, gamma=0.1)

new_svm.fit(X_train, y_train)

predictions = new_svm.predict(X_test)

accuracy = accuracy_score(y_test, predictions)
print(f"Accuracy on Test/Validation Set: {accuracy:.4f}")

Accuracy on Test/Validation Set: 1.0000

In [39]:
#import seaborn as sns
#import matplotlib.pyplot as plt


#X = db[['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10']]
#y = db['Level']


#df = pd.concat([X, y], axis=1)

# Plotting pairplot
#sns.pairplot(df, hue='Level', palette='bright')
#plt.show()

In [22]:
new_data=[[1,0,0,1,0,0,1,1,0,1]]

newdata = pd.DataFrame(new_data, columns=['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10'])
predicted_class = new_svm.predict(newdata)

print("Predicted Class:", predicted_class)

Predicted Class: ['Substantial level']

In [23]:
new_data1=[[0,0,1,1,0,0,1,1,0,0]]
newdata1 = pd.DataFrame(new_data1, columns=['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10'])

predicted_class = new_svm.predict(newdata1)

print("Predicted Class:", predicted_class)

Predicted Class: ['Moderate level']

In [24]:
new_data1=[[0,0,1,0,0,0,0,1,0,0]]
newdata1 = pd.DataFrame(new_data1, columns=['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10'])

predicted_class = new_svm.predict(newdata1)

print("Predicted Class:", predicted_class)

Predicted Class: ['Low level']

In [25]:
from joblib import dump

In [26]:
dump(new_svm, './../savedModels/new_svm.joblib')

['./../savedModels/new_svm.joblib']